{% extends "main/master.html" %}
{% load static %}

{% block static %}
{{ block.super }}
{% block nav_static %}
{% include 'main/default-nav.html' %}
{% endblock nav_static %}
<link rel="stylesheet" type="text/css" href="{% static 'menus/css/menus.css' %}">
<script src="{% static 'menus/js/menus.js' %}"></script>
{% endblock static %}

{% block content %}
<main>
    <div class="menu-container">
        <h2>Your Menus</h2>

        <div class="menu-list">
            {% if menus %}
            {% for menu in menus %}
            <div class="menu-item">
                <h3>{{ menu.modified_date }}</h3> <!-- Ensure menu has a 'name' field -->
                <p>Price: ${{ menu.price }}</p>
                <a href="#" class="more-button">More...</a>
            </div>
            {% endfor %}
            {% else %}
            <p>No menus found. Add one below!</p>
            {% endif %}
        </div>

        <button id="add-menu-button" class="add-menu-buton" data-url="{% url 'add-menu' %}">Add Menu</button>
    </div>
</main>
{% endblock %}