{% load static %}

<nav>
    <div class="logo">FoodMap</div>
    <div class="hamburger is-sm">
        <span class="hamburger-line"></span>
        <span class="hamburger-line"></span>
        <span class="hamburger-line"></span>
    </div>
    <div class="nav-menu">
        <div id="loginButton" class="login">Login</div>
    </div>
    <div class="login-modal">
        <div class="login-modal-header">
            <span class="close-button">×</span>
        </div>
        <form id="loginForm" method="POST" data-url="{% url 'login' %}">
            {% csrf_token %}
            <div class="input-group">
                <input type="email" name="email" id="login-email" required>
                <label for="email">Email</label>
            </div>
            <div class="input-group">
                <input type="password" name="password" id="login-password" required>
                <label for="password">Password</label>
            </div>
            <p>Don't have an account? <a href="{% url 'register' %}">Click here!</a></p>
            <button type="submit">Log In</button>
        </form>
    </div>
    <div id="modal-overlay"></div>
</nav>
{% block nav_static %}
    <link rel="stylesheet" href="{% static 'main/css/navbar.css' %}">
    <script src="{% static 'main/js/navbar.js' %}"></script>
{% endblock nav_static %}