{% load static %}

<nav>
    <div class="logo">FoodMap</div>
    <div class="hamburger is-sm">
        <span class="hamburger-line"></span>
        <span class="hamburger-line"></span>
        <span class="hamburger-line"></span>
    </div>
    <div class="nav-menu">
        <div id="loginButton">Login</div>
    </div>
<div class="login-modal">
    <div class="login-modal-header">
        <span class="close-button">×</span>
    </div>
    <form id="loginForm" data-url="{% url 'login' %}" method="post">
        {% csrf_token %}
        <div class="input-group">
            <input type="email" name="email" id="email" required>
            <label for="email">Email</label>
        </div>
        <div class="input-group">
            <input type="password" name="password" id="password" required>
            <label for="password">Password</label>
        </div>
        <p>Don't have an account? <a href="{% url 'register' %}">Click here!</a></p>
        <button type="submit">Log In</button>
    </form>
</div>
<div id="modal-overlay"></div>