{% extends "main/master.html" %}
{% load static %}

{% block static %}
  {{ block.super }}
  {% block nav_static %}
    {% include 'main/default-nav.html' %}
  {% endblock nav_static %}

  <link rel="stylesheet" href="{% static 'main/css/leaflet.css' %}" />  <!-- Leaflet CSS -->
  <link rel="stylesheet" type="" href="{% static 'main/css/home.css' %}">

  <script src="{% static 'main/js/leaflet.js' %}"></script> <!-- Leaflet JS -->
  <script src="{% static 'main/js/home.js' %}"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock static %}

{% block content %}
<main>
    <div class="home-container">

        <!-- Search Bar -->
        <div class="search-bar">
            <input type="text" id="search-input" placeholder="Search for menus..." data-url="{% url 'search-api' %}">
            <button id="search-button"><i class="fas fa-search"></i> Search</button>
        </div>

        <!-- Location Accordion -->
        <div class="location-accordion">
            <button class="accordion">
              <i class="fas fa-map-marker-alt"></i> Location Filters
            </button>
            <div class="panel">
                <div class = "panel-content-inner">
                <h4>Map Selection</h4>
                <div id="map-container">

                </div>
                <h4>Distance (km)</h4>
                <div class="km-slider-container">
                    <input type="range" id="km-slider" min="1" max="50" value="5">
                    <span id="km-value">5 km</span>
                </div>
              </div>
            </div>
        </div>

        <!-- Menus Accordion -->
        <div class="menus-container">
            <h2>Menus</h2>
            {% include 'main/partials/menu_list.html' %}
        </div>

    </div>
</main>
{% endblock %}